<!DOCTYPE html>
<html>
  <head>
    <title>Register Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--JQuery Mobile-->
    <link rel="stylesheet" href="/stylesheets/themes/bidjay.min.css" />
    <link rel="stylesheet" href="/stylesheets/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="/stylesheets/jquery.mobile-1.4.5.min.css" />
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
    <!--JQuery Mobile-->
  </head>
  <body>
  <div data-role="page">
    <div data-role="header">
      <h1>Register</h1>
    </div>

    <div role="main" class="ui-content">

      <form data-ajax="false" action="/doRegister" method="post">
        Username:
        <input placeholder="Username" type="text" name="username" id="">
        Email:
        <% if (email) { %>
        <input placeholder="Email" type="email" name="email" id="" value="<%=email%>">
        <% } else{%>
        <input placeholder="Email" type="email" name="email" id="" value=""><% } %>
        Password:
        <input placeholder="Password" type="password" name="password" id="">
        Gender:
        <input type="radio" name="gender" id="radio-choice-1" value="male" checked="checked">
        <label for="radio-choice-1">Male</label>
        <input type="radio" name="gender" id="radio-choice-2" value="female">
        <label for="radio-choice-2">Female</label>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">

      </form>
    </div>

    <div data-role="footer">
      <h4>WHYYYYYYYYYYYYYYYY:(</h4>
    </div>

  </div>
  </body>
</html>
